#btn-editdelete {
    width: 70px;
    height: 35px;
    position: static;
    font-size: 14px;
    color: antiquewhite;
    text-align: center;
    display: inline-block;
}

/* Button for Edit */
#btn-editdelete.edit {
    background-color: #2a9df4;
    top: 15px;
    width: 10%;
    position: relative;
    left: 70%;
    font-size: 16px;
}

#btn-editdelete.edit:hover {
    background-color: #1167b1;
}

#btn-editdelete.edit:active {
    background-color: blue;
}

/* Button for Delete */
#btn-editdelete.delete {
    background-color: lightcoral;
    top: -20px;
    width: 10%;
    position: relative;
    left: 82%;
    font-size: 16px;
}

#btn-editdelete.delete:hover {
    background-color: red;
}

#btn-editdelete.delete:active {
    background-color: #d72d27;

}

th {
    text-align: center;
}

table,
th,
td {
    border: 1px solid;
}

.shortlink-background {
    width: 60%;
    left: 50%;
    margin: auto;
    border-radius: 10px;
    background-color: #ffbaba;
    height: 180px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.shortlink-element {
    width: 100%;
    position: relative;
    text-align: left;
    font-size: 20px;
    color: #000;
    left: 15px;
}

.title {
    position: absolute;
    top: 5px;
    left: 0px;
    font-size: 36px;
}

.shortlink {
    position: absolute;
    top: 58px;
    left: 0px;
}

.destination {
    position: absolute;
    top: 94px;
    left: 0px;
    font-size: 18px;
}

.timecreated {
    position: absolute;
    top: 136px;
    left: 0px;
}

.timecreated-value {
    position: absolute;
    top: 136px;
    left: 150px;
}

.clicks {
    position: absolute;
    top: 136px;
    left: 450px;
}

.clicks-value {
    position: absolute;
    top: 136px;
    left: 550px;
}
